@import "../../index";
.iconCall{
  width: 41px;
  height: 41px;
}
.iconGithub{
  width: 52px;
  height: 52px;
}
.iconGmail{
  width: 52px;
  height: 52px;
}
.iconLinkedin{
  width: 41px;
  height: 41px;
  margin-left: 6px;
}
.iconCall:hover{
  g{
  fill: $active-red;
}}
.iconGithub:hover{
  g{
  fill: #00199a;
}}
.iconGmail:hover{
  g{
    fill: #ffb70d;
  }}
.iconLinkedin:hover{
  g{
    fill: $active-red;
  }}