.iconGithub{
  width: 52px;
  height: 52px;
}
.iconGmail{
  width: 52px;
  height: 52px;
}
.iconCall{
  width: 41px;
  height: 41px;
}
.iconLinkedin{
  width: 41px;
  height: 41px;
  margin-left: 6px;
}