@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Ysabeau Infant', sans-serif;
  color: #333333;
}
$alt-color:#ff556f ;
$fuschia: #ff0081;
$button-bg: $fuschia;
$bg-color: #F3F3FF;
$accent-color: #64B5F6;

body {
  background-color: $bg-color;

}

