@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Ysabeau Infant', sans-serif;
  color: #333333;
}

$fuschia: #ff0081;
$button-bg: $fuschia;
$bg-color: #F3F3FF;
$active-red: #fc1f40;
$active-blue: #0038b4;
$active-yellow: #ffb70d;

$alt-color: #ff556f;
$accent-color: #64B5F6;
$accent-color2: #ffdc8e;

body {
  background-color: $bg-color;

}

