@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Ysabeau Infant', sans-serif;
}
:root {
  --bg-color: #F3F3FF;
  --accent-yellow: #FFD700;
  --accent-green: #7FFF00;
}

body {
  background-color: var(--bg-color);

}

